body {
  background-color: tomato !important;
}

.usereducer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  text-align: center;
}
.number {
  font-size: 50px;
}
button {
  width: 150px;
  margin: 10px !important;
  outline: 0;
  background-color: fuchsia;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
